<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row justify-content-center mt-5">
      <div class="col-sm-4">
        <img src="../../../assets/images/leonteq_header.png" class="img-fluid">
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-6">
        <img src="../../../assets/images/404.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 mt-5 d-flex justify-content-center">
        <h1>Redirect to your <a routerLink="/">Safe Haven</a></h1>      
      </div>              
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>